<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genietour.www.mapper.RoomMapper">
		
	<!--ROOM-->
	<insert id="insertRoom" parameterType="com.genietour.www.hotel.room.RoomDTO" >
	insert into Room(room_code, room_type, price, vacancy, hot_code) values(#{roomCode}, #{roomType}, #{price}, #{vacancy}, #{hotCode})
	</insert>
	
	<select id="selectListAll" resultType="com.genietour.www.hotel.room.RoomDTO" >
	select
	room_code AS roomCode,
	room_type AS roomType,
	price,
	vacancy,
	hot_code AS hotCode
	from Room
	where vacancy>0
	</select>
	
	<select id="selectRoomByHotCodeRoomType" resultType="com.genietour.www.hotel.room.RoomDTO" parameterType="com.genietour.www.hotel.room.RoomDTO">
	select
	room_code AS roomCode,
	room_type AS roomType,
	price,
	vacancy,
	hot_code AS hotCode
	from Room
	where hot_code = #{hotCode} AND room_type = #{roomType}
	</select>
	
	
	<select id="selectRoomByRoomCode" resultType="com.genietour.www.hotel.room.RoomDTO" parameterType="com.genietour.www.hotel.room.RoomDTO">
	select
	room_code AS roomCode,
	room_type AS roomType,
	price,
	vacancy,
	hot_code AS hotCode
	from Room
	where room_code = #{roomCode}
	</select>
	
	<select id="selectListByPrice" resultType="com.genietour.www.hotel.room.RoomDTO" parameterType="com.genietour.www.hotel.room.RoomDTO">
	select
	room_code AS roomCode,
	room_type AS roomType,
	price,
	vacancy,
	hot_code AS hotCode
	from Room
	where price >= #{price}
	</select>
	
	<select id="selectListByRoomType" resultType="com.genietour.www.hotel.room.RoomDTO" parameterType="com.genietour.www.hotel.room.RoomDTO">
	select
	room_code AS roomCode,
	room_type AS roomType,
	price,
	vacancy,
	hot_code AS hotCode
	from Room
	where room_type = #{roomType}
	</select>
	
	<select id="countRoom" resultType="int">
	    select count(*) from Room
	</select>
	
	<update id="updateRoom" parameterType="com.genietour.www.hotel.room.RoomDTO">
	update Room set vacancy=#{vacancy} where room_code=#{roomCode}
	</update>
	
	<delete id="deleteRoom" parameterType="com.genietour.www.hotel.room.RoomDTO">
	delete from Room where room_code=#{roomCode};
	</delete>
	
	
	<select id="selectListByHotCode" resultType="com.genietour.www.hotel.room.RoomDTO" parameterType="com.genietour.www.hotel.room.RoomDTO">
	    SELECT
	    		room_code AS roomCode,
	    		room_type AS roomType,
	    		price,
	    		vacancy,
	    		hot_code AS hotCode
	    FROM 	Room
	    WHERE 	hot_code = #{hotCode}
	</select>
	
</mapper>